.status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.status.active {
  background-color: #d4edda;
  color: #155724;
}

 fieldset {
            width: fit-content;
            background-color: transparent;
            border-radius: 5px;
            padding: 0px 10px 2px 10px;

            .admin__form-search {
                display: flex;
                gap: 7px;
                align-items: center;
            }

            legend {
                font-size: 15px;
                font-weight: 500;
            }

            input[type="text"] {
                padding: 6px 0;
                color: black;
                font-size: 15px;
                outline: 0;
                background-color: transparent;
                border: none;
            }

            button {
                padding: 0;
                font-size: 15px;
                cursor: pointer;
                color: black;
                border: 0;
                border-radius: 5px;
                background-color: transparent;

                &:hover {
                    background-color: transparent;
                }
            }

            select {
                border: none;
                background-color: transparent;
                color: black;
                width: fit-content;
                margin-left: -5px;
                font-size: 15px;
                padding: 4.5px 0;

                &:focus-within {
                    outline: none;
                }

                option {
                    color: var(--black-cl);

                    &:checked {
                        font-weight: bold;
                    }
                }
            }
        }


.status.pending {
  background-color: #fff3cd;
  color: #856404;
}

.action-button {
  padding: 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  color: white;
  transition: opacity 0.3s;
}

.action-button.view {
  background-color: #17a2b8;
}

.action-button.edit {
  background-color: #ffc107;
}

.action-button.del {
  background-color: #ff0f07b4;
}

.action-button:hover {
  opacity: 0.9;
}
